body {
    background: #F5F5F5;
}

.content{
    margin: 0 auto;
    width: 90%;
}

.main {
    background: #FFFFFF;
    display: grid;
    justify-content: center;
    border-radius: 5px;
    margin: 20px;
    font-size: 5rem;
}

.top {
    display: grid;
    justify-content: center;
    margin: 20px;
    background: #FFFFFF;
    border-radius: 5px;
}

.keysCont {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 15px;
    justify-items: space-around;
    border-radius: 5px;
}

.keys {
    border-radius: 6px;
    overflow: hidden;
    background: #FFFFFF;
}

.keys h2 {
    background: #d6d6d6;
    margin-top: 0;
    padding-top: 5px;
}